:root {
  --dark-text-color: hsl(0, 0%, 17%);
  --light-text-color: hsl(0, 0%, 59%);
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
}

h3 {
  font-size: 0.5rem;
  color: var(--light-text-color);
  margin-bottom: 10px;
}

p {
  margin: 0;
  font-size: 1rem;
  color: var(--dark-text-color);
  font-weight: 700;
}
header {
  margin: 25px;
  text-align: center;
}

input,
img {
  margin: 0;
}

button {
  border: 0;
  padding: 0;
  height: 50px;
  border-radius: 0 10px 10px 0;
}

/*/////////////////////
//    top section   //
////////////////////*/

.top {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 100%;
}

.header-bg {
  width: 100%;
  max-height: 200px;
  margin: 0;
  border: none;
  min-width: 1200px;
  box-shadow: 2px 8px 13px rgb(80, 80, 80);
}

.tracker {
  box-sizing: border-box;
  position: absolute;
  width: 70%;
  top: 0;
  left: 18%;
  z-index: 100;
}

.search {
  display: flex;
  margin: 0 auto;
  max-width: 425px;
  border-radius: 0 10px 10px 0;
}

.search #search-box {
  width: 100%;
  padding: 15px;
  border-radius: 10px 0 0 10px;
  border: none;
  outline: none;
}

.btn {
  background-color: black;
  padding: 18px;
  border-radius: 0 10px 10px 0;
  right: 30px;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  animation: hover-colors 2s linear infinite;
  transform: rotate(360deg);
  transition: 500ms;
}

/*/////////////////////
// results display  //
////////////////////*/
#mapid {
  width: 100%;
  height: 80vh;
  z-index: 0;
  margin: 0;
  padding: 0;
}

.results {
  position: relative;
  columns: 4;
  column-rule: 2px solid rgba(214, 207, 207, 0.7);
  column-gap: 20px;
  margin-top: 40px;
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 2px 8px 13px rgb(80, 80, 80);
  transition: 750ms all;
}

.results.closed {
  height: 0px;
  overflow: hidden;
  transition: 750ms;
  padding: 16px;
  background-color: rgb(160, 204, 255);
}

.hamburger {
  position: absolute;
  top: 0;
  left: 5px;
  background-color: none;
  height: 0;
  cursor: pointer;
  padding: 0;
  margin-top: 0;
  border-radius: 10px;
  font-size: 1.5rem;
}

.hamburger:hover {
  color: gray;
}

.result {
  overflow-wrap: break-word;
  overflow: hidden;

  display: flex;
  height: 90px;
  flex-direction: column;
  width: 160px;
  padding: 10px 10px 10px 0;
  transition: 250ms all;
}

.results.closed .result {
  display: none;
  transition: 250ms all;
}

/*/////////////////////
//    media queries //
////////////////////*/

@media (max-width: 1000px) {
  .result {
    width: 100px;
  }
  .result p {
    font-size: 0.8rem;
    /* width: 90px; */
  }
}

@media (max-width: 680px) {
  .tracker {
    left: 15%;
    min-width: 275px;
  }
  .search {
    width: 100%;
  }
  .results {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    columns: 0;
    column-rule: none;
    column-gap: 0;
    margin-top: 20px;
    width: 100%;
    padding: 15px;
  }
  .result {
    text-align: center;
    width: 100%;
  }
  .result p {
    font-size: 1rem;
  }
}

/*/////////////////////
//    animations    //
////////////////////*/

@keyframes hover-colors {
  0% {
    background-color: rgb(60, 41, 85);
  }
  25% {
    background-color: rgb(54, 121, 167);
  }
  50% {
    background-color: rgb(117, 59, 36);
  }
  75% {
    background-color: rgb(255, 253, 140);
  }
  100% {
    background-color: rgb(39, 59, 52);
  }
}
